html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 1.6;
    color: $light;
    background-image: radial-gradient(50% 50% at 50% 50%, rgba(26, 26, 26, 0.93) 0%, #1a1a1a 100%);
}

@media screen and (orientation: portrait) {
    .vertical-block {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100%;
        width: 100%;

        &::before {
            content: 'Для продолжения работы с сайтом поверните устройство горизонтально';
            font-size: 42px;
            position: absolute;
            text-align: center;
            margin-top: -50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #000;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: 999;
            background-image: url('../images/phone-horizontal.png');
            background-position: center 70%;
            background-size: 50%;
            background-repeat: no-repeat;
        }
    }

    .main {
        display: none;
    }
}

.main {
    flex-grow: 1;
}

.fullp {
    // min-height: 80vh;
    height: 100vh;


    &__inner {
        display: flex;

        &--revers {
            flex-direction: row-reverse;
        }
    }

    &__content {
        flex: 1 1 auto;

        &--center {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__container {
        width: 100%;
        max-width: 620px;

        @include w($xl) {
            max-width: 520px;
        }

        @include w(1100px) {
            max-width: 450px;
        }
    }

    &__image-box {
        @include adaptiv-value("max-width", 670, 265, 1);

        width: 100%;
        height: 100vh;

        @include w($lg) {
            height: 86vh;
        }

        @include h(1030px) {
            max-width: 670px;
        }

        @include h($lg) {
            @include adaptiv-value("max-width", 670, 400, 1);
        }

        @include h($md) {
            @include adaptiv-value("max-width", 670, 265, 1);
        }

        @include h($sm) {
            max-width: 350px;
        }

        @include h(420px) {
            height: 88vh;
        }

        &--ps {
            height: calc(100vh - 82px);

            @include w($xl) {
                height: calc(100vh - 60px);
            }

            @include w($lg) {
                height: calc(86vh - 60px);
            }

            @include h(488px) {
                height: calc(87vh - 60px);
            }

            img {
                object-position: top;
            }
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

.main section.fullp {
    @include w($lg) {
        height: 87vh !important;
    }

    @include h(488px) {
        height: 87vh !important;
    }
}

.container {
    // @include adaptiv-value("padding-right", 820, 265, 1);
    margin: 0 auto;
    max-width: $container + px;

    &--revers {
        flex-direction: row-reverse;
    }
}

.sr-only {
    position: absolute;
    margin: -1px;
    width: 1px;
    height: 1px;
    clip-path: inset(0 0 0 0);
    overflow: hidden;
    border: 0;
    white-space: nowrap;
}

.title {
    @include w($sm) {}

    font-family: "Montserrat",
    sans-serif;
    font-weight: 800;
    // font-size: 50px;
    @include adaptiv-value("font-size", 50, 28, 1);
    line-height: 1.3;
    color: $primary;
}

ol.counter {
    list-style-type: none;
    counter-reset: item;

    li {
        position: relative;
        padding: 0 0 0 45px;

        &::before {
            content: counter(item);
            position: absolute;
            left: 0;
            top: 0;
            width: 28px;
            height: 28px;
            counter-increment: item;
            border: 1px solid #4274bb;
            border-radius: 50%;
            font-weight: 700;
            font-size: 14px;
            line-height: 26px;
            text-align: center;
            color: #818181;
        }
    }
}

.ibg {
    position: relative;

    img {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.video {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;

    video,
    iframe,
    object,
    embed {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
    }
}

.videobg {

    video,
    iframe,
    object,
    embed {
        position: fixed;
        left: 50%;
        top: 50%;
        z-index: -100;
        width: auto;
        height: auto;
        min-width: 100%;
        min-height: 100%;
        background-size: cover;
        transform: translateX(-50%) translateY(-50%);
    }
}