.fullpage {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

.fullpage__wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.section {
    flex: 1 0 100%;
    position: relative;
}

.page__pagination {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translate(50px, -50%);
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: column;
}

.page__bullet {
    width: 15px;
    height: 15px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    margin: 10px 0;
    border-radius: 50%;
    transition: background-color 0.3s ease 0s;
}

.page__bullet_active {
    background-color: #fff;
}

.page__scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 4px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
}

.page__drag-scroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    cursor: pointer;
}