.hero {
    position: relative;

    &__title {
        @include adaptiv-value("font-size", 64, 18, 1);

        br {
            @include w($lg) {
                display: none;
            }
        }

        @include w($lg) {
            margin-bottom: 10px;
        }

        @include h(430px) {
            margin-bottom: 5px;
        }

        span {
            margin-right: 10px;
        }
    }

    &__inner {
        background-image: url("../images/header-bg-1.svg"), url("../images/header-bg-2.svg"), url("../images/header-bg-3.svg"), url("../images/header-bg-4.svg");
        background-position: 56% 10%, 44% 36%, 54% 62%, 41% 93%;
        background-size: 6%, 3%, 4%, 5%;
        background-repeat: no-repeat;

        @include w($xl) {
            background-position: 56% 14%, 42% 39%, 54% 65%, 41% 95%;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        padding: 0 20px 0 50px;
        width: 100%;
        max-width: 770px;
        @include adaptiv-value("max-width", 770, 400, 1);

        @include w($xl) {
            padding-left: 50px;

        }
    }

    &__social {
        @include adaptiv-value("margin-bottom", 30, 0, 1);
        @include adaptiv-value("padding-top", 20, 0, 1);

        margin-top: auto;

        @include h(430px) {
            margin-top: auto;
        }
    }

    &__subtitle {
        margin-bottom: auto;
        padding-bottom: 30px;
        width: 100%;
        max-width: 330px;
        font-size: 18px;

        @include w($xl) {
            max-width: 290px;
            font-size: 16px;
        }

        @include w($lg) {
            max-width: 210px;
            font-size: 12px;
            padding-bottom: 0;
        }

        @include h(430px) {
            margin-bottom: 0;
        }
    }

    &__caption {
        position: relative;
        margin-bottom: auto;
        max-width: 700px;
        font-weight: 400;
        font-size: 19px;
        color: $primary;

        &::before {
            width: 500px;

            content: "";
            position: absolute;
            left: -5%;
            top: 50%;
            height: 2px;
            background-color: $light;
            transform: rotate(180deg);
            transform-origin: 0 0 0;

            @include w($xl) {
                @include adaptiv-value("width", 1800, 400, 1);
            }
        }

        @include w($xl) {
            max-width: 430px;
            font-size: 16px;
        }

        @include w($lg) {
            font-size: 12px;
            max-width: 400px;
        }

        @include h(430px) {
            margin-bottom: 0;
        }
    }

    &__novelty {
        margin-bottom: auto;
    }

    &__arrow {
        display: block;
        margin: 0 auto;
        margin-bottom: auto;
        width: 30px;
        height: 30px;
        text-align: center;
        background-image: url("../images/down-arrow.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include w($xl) {
            width: 26px;
            height: 26px;
        }

        @include w($xl) {
            width: 26px;
            height: 26px;
        }
    }
}

.social-block {
    display: flex;
    align-items: center;

    &__title {
        margin-right: 15px;
        font-weight: 400;
        font-size: 17px;

        @include w ($xl) {
            font-size: 15px;
        }

        @include w ($lg) {
            font-size: 12px;
        }
    }

    &__list {
        display: flex;
        line-height: 0;

        svg {
            width: 40px;
            height: 40px;

            @include w ($xl) {
                width: 30px;
                height: 30px;
            }
        }
    }

    &__item:not(:last-child) {
        margin-right: 10px;
    }

    @include w($xl) {
        padding-top: 26px;
        margin-bottom: 8px;
    }

    @include w($lg) {
        padding-top: 3%;
    }

    @include h(430px) {
        padding-top: 0;
    }
}

.novelty {
    margin: 0;
    margin-bottom: auto;
    width: auto;
    max-width: 520px;

    &__caption {
        position: relative;
        display: inline-block;
        margin-bottom: 30px;
        font-weight: 700;
        font-size: 16px;

        &::before {
            content: "";
            position: absolute;
            right: -82px;
            top: 50%;
            z-index: 100;
            width: 40px;
            height: 40px;
            background-image: url("../images/novelty.png");
            background-size: contain;
            background-repeat: no-repeat;
            transform: translate(-50%, -50%);

            @include w ($xl) {
                width: 35px;
                height: 35px;
                right: -75px;
            }

            @include w($lg) {
                width: 20px;
                height: 20px;
                right: -40px;
            }
        }

        @include w ($xl) {
            margin-bottom: 20px;
            font-size: 15px;
        }

        @include w($lg) {
            margin-bottom: 10px;
            font-size: 12px;
        }

        @include h(430px) {
            margin-bottom: 0;
        }
    }

    &__list {
        margin-bottom: 30px;

        @include w ($xl) {
            margin-bottom: 20px;
        }

        @include w ($lg) {
            margin-bottom: 10px;
        }
    }

    &__box {
        padding: 15px;
        width: 100%;
        height: 107px;
        max-width: 520px;
        border: 1px solid #0032ff;
        border-radius: 5px;
        font-weight: 400;
        font-size: 16px;
        color: $light;

        @include w($xl) {
            font-size: 14px;
            height: 94px;
        }

        @include w($lg) {
            height: auto;
            font-size: 12px;
        }
    }

    &__link {
        font-weight: 700;
    }

    &__dots {
        margin: 0 auto 40px;
        width: 70px;

        @include w($xl) {
            margin-bottom: 20px;
        }

        @include w($lg) {
            margin-bottom: 10px;
        }
    }

    &__dots-item {
        position: relative;
        width: 5px;
        height: 5px;
        border-radius: 100%;
        background-color: $light;

        &--disable {
            pointer-events: none;
        }

        &::after {
            content: "";
            position: absolute;
            left: 50%;
            top: 50%;
            width: 30px;
            height: 30px;
            background-color: transparent;
            transform: translate(-50%, -50%);
        }

        .active {
            backface-visibility: visible !important;
            animation-name: flipInX;
            animation-name: flipInX;
            animation-duration: 1s;
        }
    }

    @include w($xl) {
        max-width: 460px;
    }

    @include h($md - 1px) {
        margin-bottom: auto;
    }
}

.fixed-block {
    position: fixed;
    right: 7%;
    bottom: 7%;
    z-index: 8;

    &__up {
        margin-bottom: 20px;
    }

    &__up,
    &__facebook {
        display: block;
        width: 50px;
        height: 50px;
        background-image: url("../images/up-arrow.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include w($xl) {
            width: 40px;
            height: 40px;
        }
    }

    &__facebook {
        margin: 0 -5px;
        width: 60px;
        height: 60px;
        background-image: url("../images/icons/facebook-icon.svg");

        @include w($xl) {
            width: 50px;
            height: 50px;
        }
    }
}

@keyframes flipInX {
    from {
        opacity: 0;
        transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
        animation-timing-function: ease-in;
    }

    40% {
        transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
        animation-timing-function: ease-in;
    }

    60% {
        opacity: 1;
        transform: perspective(400px) rotate3d(1, 0, 0, 10deg);
    }

    80% {
        transform: perspective(400px) rotate3d(1, 0, 0, -5deg);
    }

    to {
        transform: perspective(400px);
    }
}