.ps__container {
    display: flex;
    flex-direction: column;

}

.footer {
    background-color: #000;

    &__inner {
        text-align: center;
    }

    &__link {
        height: calc(var(--vh, 1vh) * 8);

        @include w($sm) {
            height: calc(var(--vh, 1vh) * 10);
        }

        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__text {
        margin-right: 10px;
        color: $light;
        font-size: 12px;
        font-weight: 800;
    }

    &__image {
        width: 154px;
        height: 46px;

        @include h($sm) {
            width: 90px;
            height: 22px;
        }
    }
}