.ps__container {
    display: flex;
    flex-direction: column;

}

.footer {
    background-color: #000;

    &__inner {
        text-align: center;
    }

    &__link {
        height: 82px;
        display: flex;
        align-items: center;
        justify-content: center;

        @include w($xl) {
            height: 60px;
        }
    }

    &__text {
        margin-right: 10px;
        color: $light;
        font-size: 12px;
        font-weight: 800;
    }

    &__image {
        width: 154px;
        height: 46px;
    }
}